{% extends "layout.html" %}
{% block content %}
    {{ form.hidden_tag() }}         
        
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {%  else %}
                {{ form.content(class="form-control form-control-lg") }}
            {%  endif %}      
        </div>                             
{% endblock content %}
